on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: yarn

      - name: Install Dependencies
        run: yarn --frozen-lockfile --prefer-offline

      - name: Linting
        run: yarn lint

      - name: Format Source Code
        run: yarn format

      - name: Unit Tests
        run: yarn test

      - name: Build
        run: |
          yarn build
          yarn build:wrapper

      - name: Integration Test
        uses: ./
        with:
          atmos-version: latest
          install-wrapper: true

      - name: atmos
        run: |
          which atmos 
          which atmos-bin 
          echo $ATMOS_CLI_PATH
          atmos version

      - name: Verify outputs are available
        run: |
          echo "stdout: ${{ steps.atmos.outputs.stdout }}"
          echo "stderr: ${{ steps.atmos.outputs.stderr }}"
          echo "exitcode: ${{ steps.atmos.outputs.exitcode }}"

      - name: Commit and Push Changes
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Action
          # https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/
          message: "chore: [skip-ci] format code and generate build artifacts"
          add: "."
